@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --horizontal-spacing: 4%;
  --items-per-screen: 2;
}

@media (min-width: 500px) {
  :root {
    --items-per-screen: 3;
  }
}

@media (min-width: 768px) {
  :root {
    --items-per-screen: 4;
  }
}

@media (min-width: 1024px) {
  :root {
    --items-per-screen: 5;
  }
}

@media (min-width: 1280px) {
  :root {
    --items-per-screen: 6;
  }
}

body {
  @apply bg-zinc-900 h-full overflow-x-hidden text-white
}

#__next, html {
  @apply h-full
}