.slider {
  --slider-index: 0;
  transform: translateX(calc(var(--slider-index) * -100%));
}

.card {
  flex: 0 0 calc(100% / var(--items-per-screen));
  max-width: calc(100% / var(--items-per-screen));
}